<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.CCPSXMapper" >
  <resultMap id="BaseResultMap" type="Model.CCPSX" >
    <id column="FRDM_U" property="FRDM_U" jdbcType="VARCHAR" />
    <id column="CPBH_U" property="CPBH_U" jdbcType="VARCHAR" />
    <result column="CPMC_U" property="CPMC_U" jdbcType="VARCHAR" />
    <result column="JFZQ_U" property="JFZQ_U" jdbcType="VARCHAR" />
    <result column="QJJE_U" property="QJJE_U" jdbcType="DECIMAL" />
    <result column="XZKHJB" property="XZKHJB" jdbcType="VARCHAR" />
    <result column="BZXX_U" property="BZXX_U" jdbcType="VARCHAR" />
    <result column="CJRQ_U" property="CJRQ_U" jdbcType="DATE" />
    <result column="CJSJ_U" property="CJSJ_U" jdbcType="TIME" />
    <result column="CJR_UU" property="CJR_UU" jdbcType="VARCHAR" />
    <result column="WHRQ_U" property="WHRQ_U" jdbcType="DATE" />
    <result column="WHSJ_U" property="WHSJ_U" jdbcType="TIME" />
    <result column="WHR_UU" property="WHR_UU" jdbcType="VARCHAR" />
    <result column="SJC_UU" property="SJC_UU" jdbcType="TIMESTAMP" />
    <result column="JLZT_U" property="JLZT_U" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FRDM_U, CPBH_U, CPMC_U, JFZQ_U, QJJE_U, XZKHJB, BZXX_U, CJRQ_U, CJSJ_U, CJR_UU, WHRQ_U, 
    WHSJ_U, WHR_UU, SJC_UU, JLZT_U
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Model.CCPSXKey" >
    select 
    <include refid="Base_Column_List" />
    from ccpsx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and CPBH_U = #{CPBH_U,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Model.CCPSXKey" >
    delete from ccpsx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and CPBH_U = #{CPBH_U,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Model.CCPSX" >
    insert into ccpsx (FRDM_U, CPBH_U, CPMC_U, 
      JFZQ_U, QJJE_U, XZKHJB, 
      BZXX_U, CJRQ_U, CJSJ_U, CJR_UU, 
      WHRQ_U, WHSJ_U, WHR_UU, SJC_UU, 
      JLZT_U)
    values (#{FRDM_U,jdbcType=VARCHAR}, #{CPBH_U,jdbcType=VARCHAR}, #{CPMC_U,jdbcType=VARCHAR}, 
      #{JFZQ_U,jdbcType=VARCHAR}, #{QJJE_U,jdbcType=DECIMAL}, #{XZKHJB,jdbcType=VARCHAR}, 
      #{BZXX_U,jdbcType=VARCHAR}, #{CJRQ_U,jdbcType=DATE}, #{CJSJ_U,jdbcType=TIME}, #{CJR_UU,jdbcType=VARCHAR}, 
      #{WHRQ_U,jdbcType=DATE}, #{WHSJ_U,jdbcType=TIME}, #{WHR_UU,jdbcType=VARCHAR}, #{SJC_UU,jdbcType=TIMESTAMP}, 
      #{JLZT_U,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Model.CCPSX" >
    insert into ccpsx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        FRDM_U,
      </if>
      <if test="CPBH_U != null" >
        CPBH_U,
      </if>
      <if test="CPMC_U != null" >
        CPMC_U,
      </if>
      <if test="JFZQ_U != null" >
        JFZQ_U,
      </if>
      <if test="QJJE_U != null" >
        QJJE_U,
      </if>
      <if test="XZKHJB != null" >
        XZKHJB,
      </if>
      <if test="BZXX_U != null" >
        BZXX_U,
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U,
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U,
      </if>
      <if test="CJR_UU != null" >
        CJR_UU,
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U,
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U,
      </if>
      <if test="WHR_UU != null" >
        WHR_UU,
      </if>
      <if test="SJC_UU != null" >
        SJC_UU,
      </if>
      <if test="JLZT_U != null" >
        JLZT_U,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        #{FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="CPBH_U != null" >
        #{CPBH_U,jdbcType=VARCHAR},
      </if>
      <if test="CPMC_U != null" >
        #{CPMC_U,jdbcType=VARCHAR},
      </if>
      <if test="JFZQ_U != null" >
        #{JFZQ_U,jdbcType=VARCHAR},
      </if>
      <if test="QJJE_U != null" >
        #{QJJE_U,jdbcType=DECIMAL},
      </if>
      <if test="XZKHJB != null" >
        #{XZKHJB,jdbcType=VARCHAR},
      </if>
      <if test="BZXX_U != null" >
        #{BZXX_U,jdbcType=VARCHAR},
      </if>
      <if test="CJRQ_U != null" >
        #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_UU != null" >
        #{CJR_UU,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Model.CCPSX" >
    update ccpsx
    <set >
      <if test="CPMC_U != null" >
        CPMC_U = #{CPMC_U,jdbcType=VARCHAR},
      </if>
      <if test="JFZQ_U != null" >
        JFZQ_U = #{JFZQ_U,jdbcType=VARCHAR},
      </if>
      <if test="QJJE_U != null" >
        QJJE_U = #{QJJE_U,jdbcType=DECIMAL},
      </if>
      <if test="XZKHJB != null" >
        XZKHJB = #{XZKHJB,jdbcType=VARCHAR},
      </if>
      <if test="BZXX_U != null" >
        BZXX_U = #{BZXX_U,jdbcType=VARCHAR},
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_UU != null" >
        CJR_UU = #{CJR_UU,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and CPBH_U = #{CPBH_U,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Model.CCPSX" >
    update ccpsx
    set CPMC_U = #{CPMC_U,jdbcType=VARCHAR},
      JFZQ_U = #{JFZQ_U,jdbcType=VARCHAR},
      QJJE_U = #{QJJE_U,jdbcType=DECIMAL},
      XZKHJB = #{XZKHJB,jdbcType=VARCHAR},
      BZXX_U = #{BZXX_U,jdbcType=VARCHAR},
      CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      CJR_UU = #{CJR_UU,jdbcType=VARCHAR},
      WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and CPBH_U = #{CPBH_U,jdbcType=VARCHAR}
  </update>
</mapper>